# DMA LAB

In [54]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## csv file

### read csv file

In [66]:
data = pd.read_csv("hubble_data.csv")
data.head()

   distance  recession_velocity  recession_velocity1
0     0.032                 120                  125
1     0.034                 290                  170
2     0.214                -130                  290
3     0.263                 -70                 -130
4     0.275                -185                  -70

### apply headers

In [64]:
headers=["distance","recession_velocity","recession_velocity1"]
data_no_head= pd.read_csv("hubble_data.csv",names=headers)
data_no_head.head()
#data_no_head.head()       #  will display first five records
#data_no_head.head(10)     #  will display first ten records
#data_no_head              #  will display all records

   distance  recession_velocity  recession_velocity1
0  distance  recession_velocity  recession_velocity1
1     0.032                 120                  125
2     0.034                 290                  170
3     0.214                -130                  290
4     0.263                 -70                 -130

### to display particular column in csv file

In [67]:
data["distance"].head()

0    0.032
1    0.034
2    0.214
3    0.263
4    0.275
Name: distance, dtype: float64

### to set index

In [68]:
data.set_index("distance", inplace=True)
data.head()

          recession_velocity  recession_velocity1
distance
0.032                    120                  125
0.034                    290                  170
0.214                   -130                  290
0.263                    -70                 -130
0.275                   -185                  -70

## xml files

In [10]:
from bs4 import BeautifulSoup

infile = open("books.xml","r")
contents = infile.read()
soup = BeautifulSoup(contents,'xml')
titles = soup.find_all('title')
for title in titles:
    print(title.get_text())

Dr. Seuss
Orson Scott Card
Michael Crichton

## excel sheet

In [30]:
exdata = pd.ExcelFile("hubble_data.xls")
exdata.sheet_names
df = exdata.parse('hubble_data')
df

    distance  recession_velocity
0      0.032                 170
1      0.034                 290
2      0.214                -130
3      0.263                 -70
4      0.275                -185
5      0.275                -220
6      0.450                 200
7      0.500                 290
8      0.500                 270
9      0.630                 200
10     0.800                 300
11     0.900                 -30
12     0.900                 650
13     0.900                 150
14     0.900                 500
15     1.000                 920
16     1.100                 450
17     1.100                 500
18     1.400                 500
19     1.700                 960
20     2.000                 500
21     2.000                 850
22     2.000                 800
23     2.000                1090

In [64]:

# Create a Pandas dataframe from some data.
df1 = pd.DataFrame({'Data': [10, 20]})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx')
df2=pd.ExcelFile('pandas_simple.xlsx')
df2.sheet_names
df3 = df2.parse('Sheet1')
df3
# Convert the dataframe to an XlsxWriter Excel object.
df1.to_excel(writer, sheet_name='Sheet1', startrow=len(df3)+2, index=False )

# Close the Pandas Excel writer and output the Excel file.
writer.save()